.courses {
  $breakpoint-phone: 390px;
  @media (max-width: $breakpoint-phone) {
  }
  .title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    @media (max-width: $breakpoint-phone) {
      font-size: 36px;
    }
  }
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    gap: 30px;
    @media (max-width: $breakpoint-phone) {
      grid-template-columns: 1fr;
      gap: 20px;
    }
    .course {
      background-color: #f1f1f1;
      .img {
        img {
          width: 100%;
          height: 100%;
        }
      }
      .desc {
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-bottom: 2px solid #cfcfcf;
        @media (max-width: $breakpoint-phone) {
          padding: 20px;
          gap: 15px;
        }

        .heading_secondary {
          font-size: 30px;
          font-weight: bold;
          @media (max-width: $breakpoint-phone) {
            font-size: 24px;
          }
        }
        .text {
          font-size: 18px;
          line-height: 1.5;
          @media (max-width: $breakpoint-phone) {
            font-size: 14px;
          }
        }
      }

      .about {
        padding: 30px 20px 20px 20px;
        font-size: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: bold;
        gap: 10px;
        @media (max-width: $breakpoint-phone) {
          font-size: 18px;
          padding: 15px 30px;
        }
        .time {
          padding: 10px;
          @media (max-width: $breakpoint-phone) {
            padding: 5px;
          }
        }
        hr {
          width: 90%;
          height: 2px;
          color: #cfcfcf;
        }
        .join {
          background-color: #27ae60;
          color: #fff;
          font-weight: bold;
          font-size: 24px;
          width: 90%;
          padding: 10px;
          border-radius: 30px;
          border: none;
          cursor: pointer;
          margin-top: 30px;
          @media (max-width: $breakpoint-phone) {
            font-size: 18px;
            width: 110%;
          }
        }
      }
    }
  }
}
